<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>

        <h1> We'll come back soon =) </h1>

        <p>
            Ohhh Problems ... We' re working to resolve them.
        </p>

        {{> footer}}
    </body>
</html>